/*Keep comments for all the things you needed to look up.*/

body {
    /*standard desktop landing page height*/
    /*to keep the footer in place*/
    height: 960px;
    width: auto;
}

#introduction, #copyright{
    display: flexbox;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 10px 75px;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

/*remove default ul margin by setting margin properties*/
.links {
    margin: 0px auto;
}

/*how to separate #logo from #links*/
.link {
    display: inline;
    /*how to remove bullet points*/
    list-style-type: none;
    text-decoration: underline;
    padding: 0px 10px;
}

#hook {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px 0px;
}

.hook-text {
    margin-right: 15px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    color:#F9FAF8;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px 20px;
}

.hook-img {
    height: 250px;
    width: auto;
    margin: 15px 0px;
}

/*how to center*/
#features-label {
    margin: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

/*how to align side-by-side*/
#features {
    padding: 0 130px;
    /*display: flex from the container*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feature {
    /*flex-basis and flex to get desired alignment*/
    width: 154px;
    height: 183px;
    margin: 7px;
    /*text-align goes in this div!!!*/
    text-align: center;
}

/*text-wrap property not working*/
p .feature-subtext {
    text-wrap: wrap;
}

/*how to round and color border*/
.feature-img {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 10px;
}

#testimonial {
    background-color: #E5E7EB;
    padding: 110px 175px;
}

#quote {
    font-size: 32px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-weight: bold;
    font-size: 24px;
    /*text-align: right*/
    text-align: right;
    padding: 5px 20px;
}

.banner {
    display: flex; 
    margin: 75px 130px;
    padding: 40px 70px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    justify-content: space-between;    
}

.banner button {
    border-color: #E5E7EB;
}

#copyright {
    /*footer*/
    text-align: center;
    padding: 40px;
    bottom: 0;
}